services:
  mycontainer:
    build: .
    image: "docker.io/marsian83/alloy-agent"
    platform: linux/amd64
    ports:
      - "3000:3000"
    volumes:
      - store:/root/.store # Persistent  storage.
      - /run/rofl-appd.sock:/run/rofl-appd.sock # appd
    environment:
      - NODE_ENV=${NODE_ENV}
      - PG_URI=${PG_URI}
      - GROQ_API_KEY=${GROQ_API_KEY}

volumes:
  store:
