services:
  mycontainer:
    build: .
    image: "docker.io/marsian83/alloy-agent"
    platform: linux/amd64
    ports:
      - "3000:3000"
    volumes:
      - store:/root/.store # Persistent  storage.
      - /run/rofl-appd.sock:/run/rofl-appd.sock # appd
    environment:
      - NODE_ENV=${NODE_ENV}
      - PG_URI=${PG_URI}
      - GROQ_API_KEY=${GROQ_API_KEY}
      - PORT=${PORT}
      - EVM_PRIVATE_KEY_SYNAPSE=${EVM_PRIVATE_KEY_SYNAPSE}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - ALCHEMY_API_KEY=${ALCHEMY_API_KEY}
      - EVM_MCP_SERVER_URL=${EVM_MCP_SERVER_URL}

  evm-mcp-server:
    build: ../evm-mcp-server
    image: "docker.io/marsian83/evm-mcp-server"
    platform: linux/amd64
    ports:
      - "3001:3001"
    environment:
      - MCP_PORT=3001
      - MCP_HOST=0.0.0.0
      - NODE_ENV=production

volumes:
  store:
